@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@400;500;700&family=Lobster&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.nav {

    width: 100%;
    height: 10vh;
    position: sticky;
    background-color: aqua;
}

.nav nav {
    width: 95%;
    height: 10vh;
    margin: auto;
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
}

.nav .logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: calc(1vw + 1.5rem);
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

.nav ul {
    width: 50vw;
    background-color: beige;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    font-size: calc(1vw + .8rem);
    padding-bottom: 8px;
    text-decoration: none;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.nav ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav .menubar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

.nav .close {
    display: block;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

.nav .menubar span {
    margin: 2px;
    padding: 2px;
    display: block;
    width: 30px;
    border-radius: 4px;
    background-color: #000;
}

.nav .close span {
    width: 30px;
    font-size: 2rem;
}

@media only screen and (max-width: 900px) {
    .nav .logo {
        font-size: clac(1vw + 1em);
    }

    .nav ul li a {
        font-size: clac(1vw - .5rem);
    }
}

@media only screen and (max-width: 650px) {
    .nav {
        margin: 0;
        text-align: center;
    }

    .nav .logo {
        margin-top: 2vh;
        margin-left: 30vw;
        text-align: center;
        font-size: calc(1vw + 1.2rem);
        float: left;
    }

    .nav .menubar {
        top: 8px;
        margin-right: 20px;
        display: block;
    }

    .nav .close {
        top: 8px;
        margin-right: 20px;
        display: none;
    }

    .nav ul {
        width: 100%;
        position: fixed;
        top: 10vh;
        right: 0px;
        flex-direction: column;
        height: 90vh;
        transform: translateX(100%);
    }

    .nav ul li a {
        margin-left: -20px;
        font-size: 1.5rem;
        padding: 6vw;
    }

    .nav ul li a:hover {
        background-color: blue;
    }

    .nav ul li a:hover::after {
        display: none;
    }
}